<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened>

    <div class="title" >
      <button mat-button class="titleButton" (click)="nzSelect=!nzSelect; selectAll()">
        <mat-icon>arrow_downwards</mat-icon>
      </button>
      New Zealand
    </div>

    <div *ngFor="let team of dataManager.getTeamInfo()">
      <mat-checkbox *ngIf="team.country === 'New Zealand'" [ngStyle]="{'color': team.color}" [checked]="nzSelect" (click)="filterTeam(team)">
        <label>{{team.teamName}}</label>
      </mat-checkbox>
    </div>

    <div class="title" >
      <button mat-button class="titleButton" (click)="auSelect=!auSelect; selectAll()">
       <mat-icon>arrow_downwards</mat-icon>
      </button>
      Australia
    </div>

    <div *ngFor="let team of dataManager.getTeamInfo()">
      <mat-checkbox *ngIf="team.country === 'Australia'" [ngStyle]="{'color': team.color}" [checked]="auSelect" (click)="filterTeam(team)">
        <label>{{team.teamName}}</label>
      </mat-checkbox>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-button-toggle-group #group="matButtonToggleGroup" value="home">
      <mat-button-toggle value="home" (click)="changeTargetRatio(ratios.homeRatio)">Home Ratio</mat-button-toggle>
      <mat-button-toggle (click)="changeTargetRatio(ratios.awayRatio)">Away Ratio</mat-button-toggle>
      <mat-button-toggle (click)="changeTargetRatio(ratios.winsRatio)">Wins Ratio</mat-button-toggle>
      <mat-button-toggle (click)="changeTargetRatio(ratios.interCountryRatio)">Inter Country Ratio</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- <mat-select>
      <mat-label>Please select</mat-label>
      <mat-option>Test</mat-option>
    </mat-select> -->

    <svg width="95vw" height="85vh" viewBox="0 0 350 350"></svg>

    <app-range-slider></app-range-slider>

  </mat-sidenav-content>

</mat-sidenav-container>
