mat-button-toggle-group {
  position: relative;
  left: -45%;
  float: right;
  margin-top: 1vh;
}

svg {
  position: relative;
  left: 0;
  float: right;
  margin-top: 1vh;
}

.title {
  font-family: 'Roboto', serif;
  font-size: 1em;
  text-align: center;
  margin: 10px 10px;
}

.mat-button {
  min-width: 0;
  line-height: 0;
  padding: 0;
  border-radius: 0;
}
